* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-size: 20px;
}

li {
    list-style: none;
  }

a {
    color: #000;
    text-decoration: none;
  }

/*************
*** NAVBAR ***
*************/

#header {
    display: flex;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(223, 136, 136);
    position: fixed;
    top: 0;
    z-index: 30;
}

#header-img {
    max-width: 100%;
    display: flex;
    align-self: center;
}

.logo {
    width: 300px;
    height: auto;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.nav-link {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 530px) {
    #header{
        flex-direction: column;
    }
    #nav-bar {
        width: 80%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    #nav-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5rem;
        gap: 0.5rem;
    }
}

/*******************
*** HERO SECTION ***
*******************/

.form__wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 500px) {
    .form__title {
        width: 80%;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .form__wrapper {
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 320px) {
    .form__title {
        width: 80%;
        margin-top: 9rem;
        margin-bottom: 1.2rem;
        position: relative;
        left: 35px;
    }
}

#form {
    display: flex;
    flex-direction: column;
}

#email {
    margin-bottom: 0.8rem;
    min-width: 14rem;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-family: sans-serif;
    font-size: 14px;
}

.btn {
    font-size: 18px;
    font-weight: 800;
    max-height: 40px;
    max-width: 160px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: #f1c40f;
    cursor: pointer;
    border-radius: 6px;
    align-self: center;
    border: lightcoral 0.1rem solid;
}

.btn:hover {
    background-color: orange;
    transition: 0.3s;
}


/**************************
*** SERVICE DESCRIPTION ***
**************************/

.description__wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 4rem;
    margin: auto;
    margin-top: 3rem;
}

.item__icon img {
    width: 70px;
    height: 70px;
}


.item__desc1, .item__desc2, .item__desc3 {
    display: flex;
    gap: 4rem;
}

.item__description {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media only screen and (max-width: 600px) {
    .description__wrapper {
        width: 80%;
    }
    .item__icon img {
        width: 60px;
        height: 60px;
    }
    .item__desc1, .item__desc2, .item__desc3 {
        gap: 2rem;
    }
}

@media only screen and (max-width: 360px) {
    .description__wrapper {
        width: 90%;
    }
    .item__icon img {
        width: 60px;
        height: 60px;
    }
    .item__desc1, .item__desc2, .item__desc3 {
        gap: 1rem;
    }
}

/********************
*** VIDEO SECTION ***
********************/

#video {
    display: flex;
    margin: auto;
}

.imagebox {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/********************
*** PRICE SECTION ***
********************/

.prices__wrapper {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 1rem;
}

.price__item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    padding-bottom: 1rem;
}

.price__title {
    display: flex;
    padding: 0.7rem 0 0.7rem 0;
    width: 100%;
    justify-content: center;
    background-color: #ddd;
}

.prices__desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 10rem;
    align-items: center;
    align-self: center;
}

.price__value {
    font-size: 30px;
    font-weight: bold;
    margin-top: 1rem;
}

.price__desc {
    line-height: 2.0rem;
    width: 100%;
    position: relative;
    left: 20px;
}

.price__btn {
    background-color: rgb(248, 195, 20);
    padding: 0.6rem 1.2rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 1rem;
}

.price__btn:hover {
    background-color: orange;
    transition: 0.3s;
}

@media only screen and (max-width: 622px) {
    .price__title {
        font-size: 16px;
    }
    .price__value {
        font-size: 20px;
    }
    .price__desc {
        left: 0;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 520px) {
    .prices__wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2rem;
    }
    .price__title {
        font-size: 26px;
    }
    .price__value {
        font-size: 26px;
    }
    .price__desc {
        left: 10;
        padding: 0 1rem;
    }
}

/*************
*** FOOTER ***
*************/

.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #ddd;
    margin: auto;
    padding: 1rem;
    gap: 0.5rem;
}

.footer__bar {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.copyright {
    align-self: flex-end;
    font-size: 0.9em;
    color: #444;
}
